XML/XML_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="dane">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="imie" type="xsd:string"/>
                <xsd:element name="nazwisko" type="xsd:string"/>
                <xsd:element name="wiek" type="xsd:string"/>
                <xsd:element name="data_urodzenia" type="xsd:string"/>
                <xsd:element name="pensja" type="xsd:string"/>     
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>